/* =================== リセットcss ここから =================== */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(223, 182, 106);
}

/* =================== リセットcss ここまで =================== */


.swiper {
  width: 100%;
  height: 300px;
}