/* =================== リセットcss ここから =================== */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(223, 182, 106);
}

/* =================== リセットcss ここまで =================== */


.container {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

img {
  width: 100%;
  margin: 0;
  vertical-align: top;
}

header {
  background-color: white;
  color: rgb(223, 182, 106);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

header h1 {
  margin: 0;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.photo {
  position: relative;
}

.photo .inner {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  font-size: 10px;
  color: white;
  margin: 0;
  width: 100%;
}

.comment {
  margin-right: 10px;
  padding: 10px;
}