@charset "UTF-8";
.pace-done #global-container {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background-clip: padding-box;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  top: 7px;
  height: 14px;
  font-size: 12px;
  background: #90cc57;
  color: #90cc57;
  line-height: 60px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
  -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
  box-shadow: 120px 0 #fff, 240px 0 #fff;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: right;
  right: 0;
  padding-right: 16px;
  top: 4px;
}

.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2001;
  -webkit-box-shadow: inset 0 0 0 2px #90cc57, inset 0 0 0 7px #FFF;
          box-shadow: inset 0 0 0 2px #90cc57, inset 0 0 0 7px #FFF;
  border-radius: 10px;
}

.pace.pace-inactive {
  display: none;
}

.swiper-slide {
  height: 500px;
  overflow: hidden;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

.swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}

.swiper-slide-active > img {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide-active .hero__title {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero {
  padding-top: 100px;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 20px));
          transform: translate(-50%, calc(-50% + 20px));
  color: white;
  font-size: 25px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.5s, -webkit-transform 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s, -webkit-transform 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s, transform 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s, transform 0.3s ease 0.5s, -webkit-transform 0.3s ease 0.5s;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  height: 68px;
  width: 22px;
  overflow: hidden;
}

.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  -webkit-animation: kf-arrow-anime 1.4s;
          animation: kf-arrow-anime 1.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.hero__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.7);
  left: -8px;
  top: 11px;
  font-size: 1.2em;
}

@-webkit-keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

/***************************************************************

ベーススタイル スマホサイズ用

****************************************************************/
body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
}

.font-sm, .sub-title {
  font-size: 14px;
}

.font-md, .contents__title, .type__title {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg, .main-title {
  font-size: 25px;
}

.mb-sm, .introduction__sub, .introduction__img, .contents__title, .type__title {
  margin-bottom: 16px !important;
}

.mb-lg, .introduction, .contents {
  margin-bottom: 80px !important;
}

.pb-sm, .introduction__texts {
  padding-bottom: 16px !important;
}

.pb-lg, .hero {
  padding-bottom: 80px !important;
}

.content-width, .header__inner, .introduction, .contents, .type__header, .type__container, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .introduction__inner, .contents__inner, .type__container, .footer__nav, .footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orange {
  color: #ff9100;
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  color: #535353;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header__nav {
  display: none;
}

.header__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  margin-left: 20px;
}

.header__li > a {
  color: #535353;
  text-decoration: none !important;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

.introduction__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #e9eae0;
  position: relative;
  z-index: 0;
}

.introduction__img {
  height: 300px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 30px #252525;
          box-shadow: inset 0 0 30px #252525;
}

.introduction__img > img {
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.introduction__title {
  position: relative;
}

.introduction__title::before {
  display: none;
  content: '';
  position: absolute;
  left: -112px;
  bottom: 20px;
  width: 100px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
  -webkit-animation: kf-border-anime 1.4s;
          animation: kf-border-anime 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes kf-border-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-border-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

.contents__item {
  overflow: hidden;
  margin-bottom: 30px;
}

.contents__item > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
}

.type__inner {
  position: relative;
}

.type__inner::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #e9eae0;
}

.type__container {
  position: relative;
  z-index: 2;
}

.type__img {
  height: 150px;
  margin-bottom: 30px;
}

.type__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 38px;
  text-align: center;
}

.footer {
  padding: 60px 0;
}

.footer__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__li {
  padding: 0;
  margin: 10px;
}

.footer__li > a {
  color: #535353;
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  -webkit-transform: rotateY(-50%);
          transform: rotateY(-50%);
  color: #252525;
}

.side a,
.side span {
  color: #252525;
  text-decoration: none;
  margin: 0 40px;
  vertical-align: middle;
}

.side.left {
  left: 50px;
}

.side.left .side__inner {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.side.right {
  right: 50px;
}

.side.right .side__inner {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon {
  position: relative;
}

.icon::before {
  display: block;
  content: '';
  position: absolute;
  top: 0%;
  left: -20px;
  width: 1em;
  height: 1em;
  -webkit-transform: rotateY(-50%);
          transform: rotateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.twitter::before {
  background-image: url(../images/twitter.svg);
}

.icon.fb::before {
  background-image: url(../images/facebook.svg);
}

/* ハンバーガーメニュー */
.mobile-menu__btn {
  display: inline-block;
  position: fixed;
  width: 29px;
  border-radius: 2px;
  top: 20px;
  right: 31px;
  z-index: 2000;
}

.mobile-menu__btn > span {
  position: absolute;
  left: 14px;
  width: 100%;
  height: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #666;
}

.mobile-menu__btn span:nth-of-type(1) {
  top: 15px;
}

.mobile-menu__btn span:nth-of-type(2) {
  top: 23px;
}

.mobile-menu__btn span:nth-of-type(3) {
  top: 31px;
}

/* activeクラスが付与されると線が回転して×に */
.mobile-menu__btn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 29px;
}

.mobile-menu__btn.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}

.mobile-menu__btn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 29px;
}

/* モバイルメニュー */
#mobile-menu {
  position: fixed;
  z-index: -2;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#mobile-menu > ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 50px;
}

#mobile-menu .mobile-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  color: white;
}

#mobile-menu.panelactive {
  opacity: 1;
  z-index: 999;
}

@media (min-width: 600px) {
  /***************************************************************

 タブレットサイズ用 600px以上の画面サイズに適用

****************************************************************/
  .introduction__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
  }
  .introduction__tests, .introduction__img {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .introduction__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduction__title::before {
    display: block;
  }
  .contents__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contents__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 60px;
  }
  .type__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .type__item {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .logo {
    text-align: left;
  }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__li {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media (min-width: 960px) {
  /***************************************************************

 PCサイズ用 960px以上の画面サイズに適用

****************************************************************/
  .font-sm, .sub-title {
    font-size: 16px;
  }
  .font-md, .contents__title, .type__title {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg, .main-title {
    font-size: 36px;
  }
  .md-lg {
    margin-bottom: 150px !important;
  }
  .pd-lg {
    padding-bottom: 150px !important;
  }
  .header {
    display: block;
  }
  .header__nav {
    display: block;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu__btn {
    display: none;
  }
  .introduction__img {
    height: 400px;
  }
  .introduction__title::before {
    left: -175px;
    bottom: 29px;
    width: 145px;
  }
  .type__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .type__img {
    height: 335px;
  }
  .swiper-slide {
    -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
}

@media (min-width: 1280px) {
  /***************************************************************

 1280px以上の画面サイズに適用

****************************************************************/
  .introduction__inner {
    padding: 50px 150px;
  }
  .type__item {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .side {
    display: block;
  }
}
