/***************************************************************

 1280px以上の画面サイズに適用

****************************************************************/


.introduction {

  &__inner {
    padding: 50px 150px;
  }
}

.type {

  &__item {
    flex-basis: 23%;
  }

}

.side {
  display: block;
}