/***************************************************************

 タブレットサイズ用 600px以上の画面サイズに適用

****************************************************************/


.introduction {

    &__inner {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 50px;
    }

    &__tests,
    &__img {
      flex-basis: 47%;
    }

    &__texts {
      display: flex;
      align-items: center;
    }

    &__title {
      &::before {
        display: block;
      }
    }
}


.contents {
  
    &__inner {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: 50%;
      margin-bottom: 60px;
    }
}


.type {

    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      flex-basis: 47%;
    }

}


.logo {
  text-align: left;
}

.footer {

    &__nav {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__ul {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__li {
      margin-left: 0;
      margin-right: 30px;
    }
}